.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    font-size: 16px; /* Tamaño de fuente aumentado */
    color: #555;
    font-weight: bold; /* Texto en negrita */
  }
  