/* PokemonList.css */
.PokemonList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.PokemonCard {
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
  padding: 10px;
  border-radius: 8px;
  flex: 1 1 200px; /* Permite que las tarjetas crezcan y se reduzcan */
  max-width: 30%; /* Limita el ancho máximo de las tarjetas */
  height: auto; /* Altura automática para adaptarse al contenido */
  display: flex; /* Para alinear el contenido dentro de la tarjeta */
  flex-direction: column; /* Alinea el contenido verticalmente */
  justify-content: center; /* Centra el contenido verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
}

.PokemonCard:hover {
  border-color: green;
}

/* Efecto hover con gradiente */
.rounded-card {
  border-radius: 15px; /* Ajusta el valor para cambiar el radio del borde */
  overflow: hidden; /* Para que las imágenes no sobresalgan de los bordes redondeados */
  transition: background 0.5s, color 0.5s; /* Suaviza la transición del color de fondo y del texto */
}

.rounded-card:hover {
  background: linear-gradient(to right, #90EE90, #ADD8E6); /* Gradiente de verde claro a azul claro */
  color: white; /* Cambia el color del texto si es necesario */
}

.card-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  margin-bottom: 4px; /* Separación de 4px */
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .PokemonCard {
    max-width: 45%; /* Se ajusta el ancho máximo en pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  .PokemonCard {
    max-width: 100%; /* Las tarjetas ocuparán el 100% del ancho en pantallas muy pequeñas */
  }
}
